[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "richdayandnight.github.io"]
	path = richdayandnight.github.io
	url = https://github.com/richdayandnight/richdayandnight.github.io.git
	branch = master
